---
import Layout from '../layouts/Layout.astro';

let underlineColors ={
	red:"underline underline-offset-3 decoration-8 decoration-red-400 dark:decoration-red-600 text-gray-600",
	yellow:"underline underline-offset-3 decoration-8 decoration-yellow-400 text-gray-600 "
}
---

<Layout title="Main">
	<main>

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">Parla bé</h1>
<p class="text-lg font-normal text-gray-500 lg:text-4xl dark:text-gray-400">Un joc educatiu per aprendre a parlar correctament la llengua <b><span class={underlineColors.yellow}>C</span><span class={underlineColors.red}>a</span><span class={underlineColors.yellow}>t</span><span class={underlineColors.red}>a</span><span class={underlineColors.yellow}>l</span><span class={underlineColors.red}>a</span><span class={underlineColors.yellow}>n</span><span class={underlineColors.red}>a</span></b> </p>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
	a {
		margin: auto;
	}
</style>
